* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(135deg, #1f56ee, #fc5421);
    background-size: cover;

}

.library-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.library-container h1 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;


}

.library-container .addNewBookButton {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5em 1em;
    border: 1px solid #969696;
    border-radius: 5px;
    margin-bottom: 1rem;
    background: white;
    cursor: pointer;
}

.library-container .addNewBookButton:hover {
    background-color: rgb(36, 29, 29);
    color: #DFFC75;
}

.myForm {
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 1em 1.9em;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    

}

.show {
    display: flex;
}

.myForm .book-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.myForm .book-details .input-details {
    width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
}

.input-details .details {
    display: block;
}


.input-details input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-details input:focus,
.input-details input:valid {
    border-color: #DFFC75;
}

.myForm .read-details {
    width: 100%;
    display: flex;
}

.myForm .read-details .read-title {
    font-size: 1rem;
    font-weight: 600;
    margin-right: auto;
}

.myForm .read-details .category {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.read-details .category label {
    display: flex;
    align-items: center;
}

.read-details .category .dot {
    height: 1rem;
    width: 1rem;
    background-color: #969696;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 5px solid transparent;
    cursor: pointer;
}

#dot-yes:checked ~ .category label .yes,
#dot-no:checked ~ .category label .no {
    border-color:#969696;
    background: #21FC8F;
}

.read-details input[type='radio'] {
    display: none;
}

.myForm .submit-button {
    width: 100%;
    height: 35px;
    margin: 25px 0;
}

.myForm .submit-button button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: 1px solid #969696;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(135deg, #1f56ee, #fc5421);
    letter-spacing: 1px;

}

.myForm .submit-button button:hover {
    background: linear-gradient(-135deg, #1f56ee, #fc5421);
    
}

.book-list-container {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.book-list-container .book-info {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 5px;
    outline: none;
    background: #fff;

}  

.book-list-container .book-info {
    display: flex;
}

.book-list-container .book-info .book:not(:last-child) {
    margin-bottom: 1rem;
}

.book-info .book {
    font-size: 1rem;
    font-weight: 600;

}

.toggle-read-btn {
    border: none;
    margin-bottom: 1rem;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: 500;
}

.readClr {
    background-color: rgb(5, 243, 5);
}

.not-read {
    background-color:yellow;
}

.removeBtn {
    align-self: flex-end;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    outline: none;
    border: 2px solid #969696;
    cursor: pointer;
    font-weight: 600;
}

.removeBtn:hover {
    background-color: rgb(197, 12, 12);
    color: #fff;
    border-color: #fff;
}